{% extends "base.html" %}

{% block content %}
<h2>Bookings</h2>

<form method="get">
    <input name="search" placeholder="Search Guest">
    <button type="submit">Search</button>
</form>
<br>

<table border="1">
<tr>
    <th>Guest</th>
    <th>Room</th>
    <th>Check In</th>
    <th>Check Out</th>
    <th>Actions</th>
</tr>

{% for b in bookings %}
<tr>
    <td>{{ b.guest.name }}</td>
    <td>{{ b.room.room_number }}</td>
    <td>{{ b.check_in }}</td>
    <td>{{ b.check_out }}</td>
    <td>
        <a href="/add-booking?id={{ b.id }}">Edit</a> |
        <a href="/delete-booking/{{ b.id }}"
          onclick="return confirm('Are you sure you want to delete this booking?')">
          Delete
        </a>

    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
